.app__navbar-window {
    width: 15vw;
    height: 100vh;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app__navbar-window-active {
    /* display: none; */
    padding: 5px 25px;
    transform: rotate(-90deg);

    border-radius: 50px;
    background: linear-gradient(145deg, #b5bcb5, #d7e0d7);
    box-shadow:  -20px 20px 60px #abb2ab,
                 20px -20px 60px #e7f0e7;
}
.app__navbar-window-active h2 {
    font-size: 45px;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 6px;
}
