.app__navbar {
    width: 15vw;
    height: 100vh;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app__navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
}

.app__navbar-links li{
    cursor: pointer;
    margin: 10px 0;
    padding: 15px;

    border-radius: 50px;
    background: linear-gradient(145deg, #b5bcb5, #d7e0d7);
    box-shadow:  20px 20px 60px #abb2ab,
                 -20px -20px 60px #e7f0e7;
}
.app__navbar-link {
    display: block;
}
