.app__portfolio-card {
    margin: 15px;
    width: 200px;
    min-height: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 25px;

    background: #c9d1c9;
    box-shadow:  10px 10px 20px #a5aba5,
                 -10px -10px 20px #edf7ed;
}
.app__portfolio-card:hover {
    filter: brightness(55%);
    box-shadow: none;
    cursor: pointer;
}
.app__portfolio-card_image {
    height: 80px;
    width: 100%;
    background-color: rgb(194, 146, 146);
    border-radius: 25px 25px 0 0px;
}