@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


:root {
    --font-base: 'Roboto', sans-serif;
    
    --color-background: #c9d1c9;
    --color-white: #FFFFFF;
    --color-grey: #e0e0e0;
    --color-black: #000000;
  
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    font-family: var(--font-base);
    background-color: var(--color-background);
  }

  a {
    color: unset;
    text-decoration: none;
  }

  ul {
    list-style: none;
  }







/*scrollbar*/
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: #a0a7a0;
}
body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}